[package]
name = "szs"
license = "MIT"
version = "0.0.23"
edition = "2021"
description = "szs is a WIP crate for compressing and decompressing SZS formats used in the Nintendo GameCube and Wii games. The library provides C bindings, making it useful in both Rust and C/C++ based projects."
homepage = "https://github.com/riidefi/RiiStudio/tree/master/source/szs"
repository = "https://github.com/riidefi/RiiStudio"
keywords = ["wii", "gamecube"]
readme = "README.md"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type=["cdylib", "lib", "staticlib"]

[build-dependencies]
bindgen = "0.57"
cc = { version = "1.0", features = ["parallel"] }
